h1 {
    color: rgb(73, 115, 194);
    font-family: 'Fahkwang', sans-serif;
    font-family: 'Lobster', cursive;
    text-align: center;
}

body {
    background: url("../images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

#title-box {
    background-color:  rgb(236, 230, 230);
    padding: .5em;
    margin-left: 10em;
    margin-right: 10em; 
}

#buttons-box {
    background-color: burlywood;
    padding: 1em;
    padding-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

#gif-box {
    color: rgb(236, 230, 230);
    padding: 1em;
    padding-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.btn, .btn-primary, .btn-md {
   background-color:black;
   color: rgb(236, 230, 230);
   margin: .4em;
   padding: .5em;
}

#movie-input {
    margin-top: 3em;
    margin-top: 2em;
    padding: .4em;
    float: left;
}

#gif-button {
    margin-top: 3em;
    margin-top: 2em;
    float: left;
    padding: .3em;  
}

#gif-container {
    background-color: rgb(236, 230, 230);
    padding: 5em;
}

#populate-gifs {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 1em;
}

.gif {
    margin: 1em;
}

p {
    color: rgb(73, 115, 194); 
    font-weight: 600;
    padding: 1em;
    text-transform: uppercase;
    text-align: left
}


@media screen and (max-width: 900px) {
    #title-box {
        padding: .5em;
        margin-left: 2em;
        margin-right: 2em; 
    }
    
    #buttons-box {
        padding: 1em;
        padding-bottom: 5em;
        margin-left: 2em;
        margin-right: 2em;
    }
    
    #gif-box {
        padding-bottom: 5em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .gif {
        
        width: 100%;
    }
}